.main
  .header
    .group
      %h2.group-name
        グループ名
      %ul.member
        メンバーリスト
    = link_to "#", class:"link-Edit" do
      .link-Edit__button
        Edit
  .conversation
    #id1.message
      .upper-info
        %p.talker
          pixar
        %p.date
          2020/5/26(Tue) 11:44:40
      %p.content
        発言内容
    #id2.message
      .upper-info
        %p.talker
          pixar
        %p.date
          2020/5/26(Tue) 12:44:40
      %p.content
        二つ目の発言
  .input-form
    %from.new-message
      .input-box
        %input.input-box__text{ type:"text", placeholder: "テキストを入力してください"}
        %label.attachement{for:"attachment-file"}
          = icon('far','image',class:"attachement__image")
          %input.attachement__file{type:"file",id:"attachment-file"}
      %input.send-btn{ type:"submit",value:"send"}



