.side-bar
  .side-bar__header
    .side-bar__header__username
      アカウント名
      .side-bar__header__userName--icon
        icon
  .side-bar__chat-groups
    %a.side-bar__chat-groups__list
      チャットグループのリスト

