.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__user-name
        アカウント名
      .side-bar__header__box__flex
        = link_to "#", class:"link left-link" do
          =icon('far','edit', class: "left-icon")
        = link_to "#", class:"link right-link" do
          =icon('fas','cog', class: "right-icon")
  .side-bar__chat-groups
    %a.group-link
      .group-link__box
        %p.group-link__box__name
          チャットグループのリスト
        %p.group-link__box__comment
          1コメント

