.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__user-name
        アカウント名
      .side-bar__header__box__--icon
        icon
  .side-bar__chat-groups
    %a.side-bar__chat-groups__list
      チャットグループのリスト

