.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__user-name
        アカウント名
      .side-bar__header__box__flex
        = link_to "#", class:"link left-link" do
          =icon('far','edit', class: "icon")
        = link_to "#", class:"link right-link" do
          =icon('fas','cog', class: "icon")
  .side-bar__chat-groups
    %a.side-bar__chat-groups__list
      チャットグループのリスト

