* {
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  .side-bar{
    height: 100vh;
    width: 300px;
    background-color: #253141;
    color: #ffffff;
    .side-header{
      height: 100px;
      background-color: #253141;
      display: flex;
      align-items: center;
      &__box{
        height: 20px;
        width: 260px;
        background-color: #253141;
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        .user-name{
          line-height:20px;
          font-size: 16px;
          font-weight: bold;
        }
        .flex{
          line-height:20px;
          width: 60px;
          display: flex;
          justify-content: flex-end;
          &__link{
            text-decoration: none;
            color: #ffffff;
          }
          &__left-link{
            margin-right: 5px;
            .left-icon{
            }
          }
          &__right-link{
            .right-icon{
            }
          }
        }
      }
    }
    .chat-groups{
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      .group-link{
        &__box{
          margin-bottom: 40px;
          &__g-list{
            font-size: 15px;
            margin-bottom: 5px;
          }
          &__comment{
            font-size: 11px;
          }
        }
      }
    } 
  }
  
  .main{
    height: 100vh;
    width: calc(100vw - 300px);
    background-color:#ffffff;
    .header{
      height:100px;
      background-color: #ffffff;
      border-bottom:1px solid #eeeeee;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      .group{
        margin-top: 35px;
        .name{
          margin-bottom: 15px;
          font-size: 20px;
          color: #333333;
        }
        .member{
          font-size: 12px;
          color: #999999;
        }
      }
      .link-Edit{
        text-decoration: none;
        &__button{
          font-size: 16px;
          color: #38aef0;
          border: solid 1px #38aef0;
          height: 40px;
          width: 72px;
          padding: 0 20px;
          line-height: 40px;
          margin-top: 28px;
        }
      }
    }
    .conversation{
      height: calc(100vh - 100px - 90px);
      width: 100%;
      background-color: #fafafa;
      padding: 35px 40px;
      overflow: scroll;
      .message{
        margin-bottom: 40px;
        .upper-info{
          margin-bottom: 12px;
          .talker{
            font-size: 16px;
            color: #333333;
          }
          .date{
            font-size: 12px;
            color: #999999;
          }
        }
        .content{
          font-size: 14px;
          color: #434A54;
        }
      }
    }
    .input-form{
      height: 90px;
      background-color: #d2d2d2;
      padding: 20px 40px;
      .new-message{
        display: flex;
        .input-box{
          position: relative;
          &__text{
            height: 50px;
            width: calc(100vw - 300px - 80px - 100px - 15px);
            padding: 0 10px;
          }
          .attachement{
            position: absolute;
            right: 10px;
            top: 8px;
            font-size: 1.5rem;
            input{display: none;}
            &__image{
            }
            &__file{
            }
          }
        }
        .send-btn{
          height: 50px;
          width: 100px;
          background-color: #38aef0;
          color: white;
          margin-left: 15px;
        }
      }
    }
  }
}


