* {
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  .side-bar{
    height: 100vh;
    width: 300px;
    background-color: #253141;
    &__header{
      height: 100px;
      background-color: #253141;
      display: flex;
      align-items: center;
      &__box{
        height: 20px;
        width: 260px;
        background-color: #253141;
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        &__user-name{
          line-height:20px;
          color: #ffffff;
        }
        &__flex{
          line-height:20px;
          width: 60px;
          display: flex;
          justify-content: flex-end;
          .link{
            text-decoration: none;
            color: #ffffff;
          }
          .left-link{
            margin-right: 5px;
            .left-icon{

            }
          }
          .right-link{
            
            .right-icon{
              
            }
          }
        }
      }
    }
    &__chat-groups{
      height: calc(100vh - 100px);
      background-color: #2f3e51;
    }
  
  }
  
  .main{
    height: 100vh;
    width: calc(100vw - 300px);
    background-color:#ffffff;
    .header{
      height:100px;
      background-color: #ffffff;
      border-bottom:1px solid #eeeeee;
    }
    .conversation{
      height: calc(100vh - 100px - 90px);
      background-color: #fafafa;
    }
    .footer{
      height: 90px;
      background-color: #d2d2d2;
    }
  }
}
